body {
	width: 700px;
	margin: 1.5em auto; /* this + a defined width, centers the body content */
	border-color: #FFF;
	border-style:groove;
	border-width: 15px;
	padding: 100px;
	background-color:#4686AA;
	padding-top:25px;
	padding-bottom:50px;
}

html {
  background-color:#633;
}

h2 {
  font-family:Gabriola;
  padding: 7px;
  text-align:center;
  color:#FFF;
  background:#663232;
  font-size:25px;
}

form
{
  width: 450px;
  color: #3E4A49;
  background-color:#999;
  padding: 10px;
  border:#663131 5px solid;
  font-family:Gabriola;
  font-size:20px;
  margin-left:100px;
}

#footer {
  background-color: #999;
  padding:4px;
  margin-bottom:-10px;
  border:#663131 5px solid;

}

#footer p {
  margin:0;
}


a:hover {
    color:#0F0;
}
