body {
  width: 700px;
  margin: 1.5em auto; /* this + a defined width, centers the body content */
  border-color: #666;
  border-style:groove;
  border-width: 15px;
  padding: 100px;
  background-color:#4686AA;
  padding-top:25px;
  padding-bottom:50px;
}

html {
  background-color:#633;
}

h1 {
  text-align: center;
  color: #ffffff;
}
