@charset "UTF-8";
/* Martin Mukasa's CSS Document. 
*/

body {
	width: 700px;
	margin: 1.5em auto; /* this + a defined width, centers the body content */
	border-color: #FFF;
	border-style:groove;
	border-width: 15px;
	padding: 100px;
	background-color:#4686AA;
	padding-top:25px;
	padding-bottom:50px;
}

html {
	background-color:#633;
}


h1 {
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family:Gabriola;
	padding: 7px;
	text-align:center;
	color:#FFF;
	background:#663232;
	font-size:25px;
}

h3 {
	text-align:center;
	color: #FFFFFF;
	font-family:Gabriola;
	font-size: 20px;
}
	
li {
	font-family:Gabriola;
	color: #FFffff;
	font-size: 20px;
}

.change {
    float: right;
    margin-left:10px;
}

form
{
  width: 450px;
  color: #3E4A49;
  background-color:#999;
  padding: 10px;
  border:#663131 5px solid;
  font-family:Gabriola;
  font-size:20px;
  margin-left:100px;
}

#footer {
	background-color: #999;
	padding:4px;
	margin-bottom:-10px;
	border:#663131 5px solid;

}

/*PUT THESE FILE IN CONTACT ME */
#footer p {
	margin:0;
}

a:hover {
    color:#0F0;
}

/*PUT THESE FILE IN CONTACT ME */

#myport {
	text-align:center;
	font-family:Gabriola;
	font-size:20px;
	color: #FFffff;
	border:double;
	border-color:#663131;
	width:100%;
}